<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row *ngIf="action=='EDIT'" class="toolbar-bottom py-16" fxLayout="column"
                         fxLayoutAlign="center center">
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="recForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Num dossier</mat-label>
                    <mat-icon matSuffix class="secondary-text">supervised_user_circle</mat-icon>
                    <input name="lot" formControlName="lot" matInput required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Address</mat-label>
                    <input name="ncin" formControlName="ncin" matInput required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Montant</mat-label>
                    <input name="total" formControlName="total" matInput required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nom</mat-label>
                    <input name="nom" formControlName="nom" matInput required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Degrevement</mat-label>
                    <input name="degrevement" formControlName="degrevement" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Role</mat-label>
                    <input name="role" formControlName="role" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">

                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>etat</mat-label>
                    <mat-icon matSuffix class="secondary-text">supervised_user_circle</mat-icon>
                    <mat-select formControlName="etat">
                        <mat-option value="non paye">Non payé</mat-option>
                        <mat-option value="paye acompte">Payé acompte</mat-option>
                        <mat-option value="paye">Payé</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="save()"
                [disabled]="recForm.invalid"
                aria-label="SAVE">
            AJOUTER
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="save()"
                [disabled]="recForm.invalid"
                aria-label="SAVE">
            ENREGISTRER
        </button>

    </div>
</div>
