.content{
  width: 398px;
  height: 430px;
  border: 1px solid #babfc7;
  background-color: white;
}

.header{
  height: 48px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
  padding-left: 5px;
  padding-top: 10px;
}


.ct{
  padding: 10px;
}

.item{
  margin-bottom: 15px;
}


.icon{
  color: #039be5
}

.footer{
  display: flex;
  justify-content: center;
}
