<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <div style="width:100%;">
                <span class="logo-text h1"  >
                    Cassier
                </span>
            <span *ngIf="selectedLocker" style="margin-left: 183px;" class="logo-text h1" >
                    Boitier
                </span>
        </div>
    </div>
    <div>

        <div class="table-container table-display">

            <div [class.table-container]="!selectedLocker" [class.table-resized]="selectedLocker">
                <ag-grid-angular *ngIf="gridOptions" class="ag-theme-alpine"
                                 [gridOptions]="gridOptions"
                                 (selectionChanged)="onSelectionChanged($event)"
                                 (gridReady)="onGridReady($event)"
                                 [rowData]="gridOptions?.rowData"
                                 [columnDefs]="columnDefs"
                >
                </ag-grid-angular>
            </div>

            <div class="right-tab" *ngIf="selectedLocker && selectedLocker.id"
                 [class.fade-in-detail]="selectedLocker?.id">
                <app-boitier [lockerId]="selectedLocker.id"></app-boitier>
            </div>
        </div>
    </div>
</div>
