@import "src/@fuse/scss/fuse";

:host {

}
.editor{
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
}
.pol-btn{
    background-color: #3c4252!important;
    color: white!important;
    margin: 15px 10px;
}