<div id="introduction" class="page-layout simple fullwidth docs">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="column" fxLayoutAlign="center start">
    
            <div class="h2 mt-16">Présentation</div>
    
        </div>
        <!-- / HEADER-->
        <div class="editor" >
            <app-ngx-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [spellcheck]="true" [(ngModel)]="editorContent"></app-ngx-editor>

            <div fxLayoutAlign="end">
                    <button mat-button class="pol-btn" (click)="updatePresentation()">ENREGISTRER</button>
    
            </div>
        </div>

    </div>