<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">account_box
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Detail contrat : {{reclamation?.id}}
                </span>
            </div>

        </div>
    </div>
        <div class="content">
            <div class="col left">
                <div class="header"> Documents </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Doc</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody *ngIf="reclamation && reclamation.documents">
                    <tr *ngFor="let doc of reclamation.documents">
                        <th scope="row">{{doc.id}}</th>
                        <td>{{doc.documentType}}</td>
                        <td>
                            <span (click)="voir(doc)"> <mat-icon color="primary">visibility</mat-icon> </span>
                            <span *ngIf="isAdmin()" (click)="delete(doc)"> <mat-icon color="warn">delete </mat-icon> </span>
                        </td>
                    </tr>

                    </tbody>
                </table>

            </div>
            <div class="col right">
                <div class="header"> visualiser les documents </div>
                <pdf-viewer
                        [src]="selectedDoc"
                        (on-progress)="showLoadingMsg()"
                        (page-rendered)="pdfRendered()"
                        (error)="showErrorMsg()"
                        [original-size]="false"
                ></pdf-viewer>
            </div>
        </div>
    </div>
