<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Modifer cette catégorie</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="categoryForm">

                <div  fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Name</mat-label>
                            <mat-icon matSuffix class="secondary-text">star</mat-icon>
                            <input name="name" formControlName="name" matInput>
                        </mat-form-field>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Description</mat-label>
                            <textarea name="description" formControlName="description" matInput>
                        </textarea>
                            </mat-form-field>
                    </div>
                    <div class="image-upload-edit">
                    <label for="file-input-edit">
                        <img *ngIf="categoryImageUrl" class="img-edit" [src]="categoryImageUrl"> 
                        <img *ngIf="!categoryImageUrl" class="img-edit" [src]="link"/>
                        <i >
                                <img  class="icon-edit" src="../../../../../assets/upload-white.png"> 
                                </i>
                    </label>
                            
                            <input type="file" 
                            (change)="selectFile1($event)" id="file-input-edit"/>
                    </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">


        <button 
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',categoryForm,file])"
                [disabled]="categoryForm.invalid"
                aria-label="SAVE">
            ENREGISTRER
        </button>


    </div>
</div>
