@import "src/@fuse/scss/fuse";

.contact-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 400px;
    }

    .mat-dialog-container {
        padding: 0;

        .mat-toolbar {
            flex: 1 0 auto;
            min-height: initial;
        }

        .toolbar-bottom {
            height: auto;
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .example-margin {
        margin-left: 10px;
        margin-right: 10px;
      }
      .role-label{
          margin-top:3px;
      }
}
.image-upload-edit{
    //margin-left: 20px;
    max-width: 100%;
    margin-top: 22px;
    position: relative;
    .icon-edit{
        position: absolute;
    right: 4%;
    top: 22%;
    width: 50px;
    border: 4px solid white;
    border-radius: 11px;
    padding: 3px 10px;
    background-color: rgba(12, 12, 12, 0.3);
    }
    .img-edit{
        max-width: 100%;
    margin-top: 22px;
    }
}
  .image-upload-edit>input{
    display: none;
}