<div class="dialog-content-wrapper" style="padding: 2px!important;">
        <mat-toolbar matDialogTitle class="mat-accent m-0">
            <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
                <span class="title dialog-title">Ajouter une catégorie</span>
                <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
    
        <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
    
            <form [formGroup]="categoryForm">
    
                    <div  fxLayout="row" fxLayoutAlign="start start">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Nom </mat-label>
                                <input required name="name" formControlName="name" matInput>
                            </mat-form-field>
                        </div>
                        <div  fxLayout="row" fxLayoutAlign="start start">
                                <mat-form-field appearance="outline" fxFlex>
                                    <mat-label>Description</mat-label>
                                    <textarea required name="description" formControlName="description" matInput>
                                </textarea>
                                </mat-form-field>
                            </div>
                            

                            <div  style="    margin-top: 20px;" fxLayout="row" fxLayoutAlign="start start">
                                    <mat-label>Télecharger une image</mat-label>
                                    <input type="file"  class="custom-file-input"
                                            (change)="selectFile1($event)" required/>
                                    <br>                                     
                                        <!-- <mat-label>Image</mat-label>
                                        <input type="file" name="image" formControlName="image" matInput> -->
                                </div>
                                       
                                                <img *ngIf="categoryImageUrl" class="img" [src]="categoryImageUrl">
                                         
    
                                            <!-- <mat-label>Image</mat-label>
                                            <input type="file" name="image" formControlName="image" matInput> -->
            </form>
    
        </div>
    
        <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    
    
            <button 
                    mat-button
                    class="save-button"
                    style="margin-top: 4px"
                    (click)="matDialogRef.close(['save',categoryForm,file])"
                    [disabled]="!file"
                    aria-label="SAVE">
                ENREGISTRER
            </button>

    
        </div>
</div>
    