<div class="table-container table-display">

  <div [class.table-container]="!selectedBoitier" [class.table-resized]="selectedBoitier">
    <ag-grid-angular *ngIf="gridOptions" class="ag-theme-alpine"
                     [gridOptions]="gridOptions"
                     (selectionChanged)="onSelectionChanged($event)"
                     (gridReady)="onGridReady($event)"
                     [rowData]="gridOptions?.rowData"
                     [columnDefs]="columnDefs"
    >
    </ag-grid-angular>
  </div>

  <div class="right-tab" *ngIf="selectedBoitier && selectedBoitier.id" [class.fade-in-detail]="selectedBoitier?.id" >
    <app-document-list [boitierId]="selectedBoitier.id"></app-document-list>
  </div>
</div>
