<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{title}} un article</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>


  </mat-toolbar>
    <mat-spinner *ngIf="showSpinner" color="accent" diameter="50" strokeWidth="5"></mat-spinner>

    <form [formGroup]="itemForm" (ngSubmit)="postItem()">
  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>


      <div  fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Nom</mat-label>
          <input  formControlName="name" matInput required>
        </mat-form-field>
      </div>

      <div  fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Prix</mat-label>
          <input formControlName="price" matInput required>
        </mat-form-field>
      </div>

      <div  fxLayout="row" fxLayoutAlign="start start">
          <mat-label>Promo</mat-label>
          <div fxFlex="row" fxLayoutAlign="end center">
            <mat-slide-toggle
                    class="example-margin"
                    [color]="'accent'"
                    formControlName="promo"
                    >
            </mat-slide-toggle>
          </div>
      </div>

      <div  fxLayout="row" fxLayoutAlign="start start" *ngIf="promo.value">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Reduction</mat-label>
          <input  formControlName="reduction" matInput>
        </mat-form-field>
      </div>

      <div  fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Description</mat-label>
          <input  formControlName="description" matInput required>
        </mat-form-field>
      </div>

      <div  fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Utilisateur</mat-label>
          <mat-select formControlName="userId" required>
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{user.username}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div *ngIf="userId.value"  fxLayout="row" fxLayoutAlign="start start" (click)="showSelectCategory()">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Category de l'article</mat-label>
          <input formControlName="categoryId"   matInput required>
        </mat-form-field>
      </div>
    
      <div class="upload-div">
        <mat-icon class="secondary-text camera">camera_alt</mat-icon>
        <input type="file"  (change)="selectFiles($event)">
      </div>

      <div class="selected-imgs">
        <div class="upload-div" *ngFor="let file of imgsURL; let i = index">
          <mat-icon class="clear-img" (click)="removeFile(i)">cancel</mat-icon>
          <img [src]="file">
        </div>
      </div>

      <div *ngIf="item" class="selected-imgs">
        <div class="upload-div" *ngFor="let file of item.medias; let i = index">
          <mat-icon class="clear-img" (click)="deleteFile(file.id)">cancel</mat-icon>
          <img [src]="file.link">
        </div>
      </div>



  </div>
  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">



    <button
            type="submit"
            mat-button
            class="save-button"
            aria-label="SAVE">
      {{btnTitle}}
    </button>

  </div>
  </form>
</div>
