<div id="categories" class="page-layout simple left-sidebar inner-scroll">
    <div class="center" style="background-color: teal">

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mr-16" [routerLink]="'/apps/categorie'">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div>
                <h2>{{category.name}}</h2>
            </div>

        </div>
        <!-- / HEADER -->
        
        <div class="content p-24">

                <div fxLayout="column" fxLayoutAlign="center">
                    <form [formGroup]="categoryForm" class="edit-form">
                            <mat-form-field style="margin: 20px;" appearance="outline" class="category-selector">
                                    <mat-label>Nom de catégorie</mat-label>
                                            <input name="name" formControlName="name" matInput>
                                </mat-form-field>
                                <mat-form-field  style="margin: 20px;" appearance="outline" class="category-selector">
                                        <mat-label>Description de catégorie</mat-label>
                                                <textarea name="description" formControlName="description" rows="1"  matInput></textarea>
                                </mat-form-field>
                            <div  appearance="outline" style="width: 90%" class="category-selector image-upload" >
                                    <label for="file-input">
                                            <img *ngIf="!categoryImageUrl" class="img" src="{{category.image.link}}">
                                            <img *ngIf="categoryImageUrl" class="img" [src]="categoryImageUrl"> 
                                          </label>
                                          <label for="file-input">
                                                <i >
                                                <img  class="icon" src="../../../../../assets/upload-white.png"> 
                                                </i>
                                          </label>
                                        
                                        
                                          <input type="file"
                                                (change)="selectedFile($event)"
                                                id="file-input"/>
                                </div>
                        
                        <button mat-button
                                class="save-button"
                                [disabled]="categoryForm.invalid"
                                (click)="editCategory(categoryForm)"
                                aria-label="SAVE">
                            ENREGISTRER
                        </button>

                                  
                    </form>

                    <div class="categories" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">
        
                            <div class="category" *ngFor="let subCategory of subCategories; let i = index" fxFlex="100" fxFlex.gt-xs="50"
                            fxFlex.gt-sm="33"  [@animate]="{value:'*',params:{y:'100%'}}">
        
                        <div class="category-content" fxLayout="column" fxFlex="1 1 auto">
        
                            <div class="header" fxLayout="row" fxLayoutAlign="center center">
                                <div style="color:white!important;" class="category" fxFlex>
                                    {{subCategory.name}}
                                </div>
                            </div>
        
                            <div class="content"  fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                                <!-- <div class="updated"> {{category.description}}</div> -->
                                <img class="cat-image" src="{{subCategory.image.link}}">
                            </div>
        
                            <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                                    <button mat-button color="accent"
                                    (click)="editSubCategory(i)">
                                        MODIFER
                                    </button>
                                    <button mat-button color="accent" (click)="deleteCategory(subCategory.id)" disabled>
                                        SUPPRIMER
                                    </button>
                            </div>
        
                        </div>
        
                    </div>
        
                    <div class="category"  fxFlex="100" fxFlex.gt-xs="50"
                            fxFlex.gt-sm="33"  [@animate]="{value:'*',params:{y:'100%'}}">
        
                            <div class="category-content" fxLayout="column" fxFlex="1 1 auto">
        
                            
        
                                <div class="content"  (click)="newCategory()"  fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                                    <!-- <div class="updated"> {{category.description}}</div> -->
                                    <div class="add-container">
                                        <img class="add-img" src="../../../../../assets/add.png"> 
                                    </div>
                                </div>
        
        
                            </div>
        
                        </div>

                    </div>
        
                </div>
        
        </div>

        </div>
</div>
